<section class="hero">
  <div class="hero-content">
    <span class="badge">Especialistas en Málaga ☀️</span>
    <h1>Bienvenido a <br><span class="highlight">SafeBite</span></h1>
    <p>Descubre las recetas más reputadas y seguras. Un viaje culinario diseñado para los amantes de la buena mesa en toda España.</p>
    <div class="hero-actions">
      <button class="cta-primary" routerLink="/recetas">Explorar Recetas</button>
      <button class="cta-secondary">Saber más</button>
    </div>
  </div>

  <div class="hero-visual">
    <div class="blob-shape"></div>
    <div class="floating-icons">
      <div class="icon-card i1">🥗</div>
      <div class="icon-card i2">🥑</div>
      <div class="icon-card i3">🍎</div>
    </div>
    <!-- Aquí puedes poner una imagen de comida sin fondo si tienes -->
    <img src="asset\logo-safebite-blanco.png" alt="SafeBite" class="hero-logo">
  </div>
</section>