/* Colores principales */
:root {
    --safe-green: #58a618;
  }
  
  .container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    min-height: 100vh;
  }
  
  header {
    background-color: #58a618;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  .logo-section h1 {
    margin: 0;
    font-weight: 800;
    letter-spacing: -1px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.9rem;
  }
  
  .auth-buttons .btn-login {
    background: white;
    color: #333;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    margin-right: 10px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .auth-buttons .btn-register {
    background: #222;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
  }
  
  /* Rejilla de Recetas */
  .content-wrapper {
    padding: 30px 5%;
  }
  
  .recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
  }
  
  .recipe-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    transition: transform 0.2s;
  }
  
  .recipe-card:hover {
    transform: translateY(-5px);
  }
  
  .image-container {
    width: 100%;
    height: 160px;
    background-color: #ddd;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .recipe-info {
    padding: 12px;
  }
  
  .recipe-info h4 {
    margin: 0 0 10px 0;
    font-size: 1rem;
    color: #333;
  }
  
  .tag {
    display: flexbox;
    flex-wrap: wrap;
    background: green;
    font-size: 0.7rem;
    padding: 3px 7px;
    border-radius: 4px;
    color: white;
    margin-right: 5px;
  }