<section class="hero">
  <div class="hero-content">
    <span class="badge">{{ langService.t().hero_badge }}</span>

    @if (user$ | async; as user) {
      <h1>
        {{ langService.t().hero_saludo_user }}<br>
        <span class="highlight">{{ user.displayName || user.email?.split('@')?.[0] }}</span>
      </h1>
      <p>{{ langService.t().hero_desc }}</p>
    } @else {
      <h1>
        {{ langService.t().hero_titulo }}<br>
        <span class="highlight">SafeBite</span>
      </h1>
      <p>{{ langService.t().hero_invitado }}. {{ langService.t().hero_desc }}</p>
    }

    <div class="hero-actions">
      <button class="cta-primary" routerLink="/recetas">
        {{ langService.t().hero_btn_explorar }}
        Explorar Recestas
      </button>

      @if (!(user$ | async)) {
        <app-auth-button
          [label]="langService.t().login"
          type="secondary"
          routerLink="/login">
        </app-auth-button>
      } @else {
        <button class="btn-premium" (click)="logout()">
          {{ langService.t().salir }}
        </button>
      }
    </div>
  </div>

  <div class="hero-visual">
    <div class="blob-shape"></div>
    <div class="floating-icons">
      <div class="icon-card i1">🥗</div>
      <div class="icon-card i2">🥑</div>
      <div class="icon-card i3">🍎</div>
    </div>
    <img src="asset/logo-safebite-blanco.png" alt="SafeBite" class="hero-logo">
    <!-- ↑ assets con 's' -->
  </div>
</section>
