@if (receta$ | async; as receta) {
  <div class="detalle-container">
    <a class="btn-volver" routerLink="/recetas">← Volver al catálogo</a>
  
    <header class="detalle-header">
      <img [src]="receta.imagen_url" [alt]="receta.titulo">
      <div class="header-info">
        <div class="badges-row">
          <span class="categoria-tag">{{ receta.categoria }}</span>
          
          <!-- Iconos de alérgenos -->
          <div class="iconos-wrapper">
            @for (tag of receta.etiquetas_sin; track tag) {
              <div class="icon-bubble">
                <img [src]="'asset/iconos/' + tag.toLowerCase().replace(' ', '-') + '.png'" (error)="imgError($event)">
                <span>Sin {{ tag }}</span>
              </div>
            }
          </div>
        </div>
        <h1>{{ receta.titulo }}</h1>
      </div>
    </header>
  
    <div class="detalle-content">
      <section class="ingredientes">
        <h2>Ingredientes</h2>
        <ul> @for (ing of receta.ingredientes; track ing) { <li>{{ ing }}</li> } </ul>
      </section>
  
      <section class="pasos">
        <h2>Preparación</h2>
        <div class="pasos-lista">
          @for (paso of receta.pasos; track paso; let i = $index) {
            <div class="paso-item">
              <span class="num">{{ i + 1 }}</span>
              <p>{{ paso }}</p>
            </div>
          }
        </div>
      </section>
    </div>
  </div>
  }