<div class="auth-page">
  <div class="auth-card">
    <div class="card-line"></div>
    <div class="auth-header">
      <h1>Bienvenido de nuevo</h1>
      <p>Inicia sesión en <span class="brand">SafeBite</span></p>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="auth-form">
      
      <!-- Email -->
      <div class="input-group">
        <label>Correo electrónico</label>
        <div class="input-wrapper">
          <input
            type="email"
            formControlName="email"
            placeholder="ejemplo@correo.com"
          />
        </div>
      </div>

      <!-- Contraseña con botón de Ver/Ocultar -->
      <div class="input-group">
        <label>Contraseña</label>
        <div class="input-wrapper">
          <input
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
            placeholder="••••••••"
          />
          <button 
            type="button" 
            class="toggle-password" 
            (click)="togglePassword()"
            tabindex="-1">
            @if (hidePassword) {
              <span>👁️</span> 
            } @else {
              <span>🙈</span>
            }
          </button>
        </div>
      </div>

      <!-- El captcha -->
      <div class="captcha-container" style="margin-top: 15px; margin-bottom: 15px">
        <re-captcha (resolved)="onResolved($event)" siteKey="TU_SITE_KEY_AQUI"></re-captcha>
      </div>

      <button type="submit" class="btn-submit" [disabled]="form.invalid">
        Entrar a SafeBite
      </button>
    </form>

    <div class="auth-footer">
      <p>¿No tienes cuenta? <a routerLink="/register">Regístrate gratis</a></p>
    </div>
  </div>
</div>