<div class="search-box">
  <div class="input-container">
    <i class="fas fa-search"></i>
    <input 
      type="text" 
      [(ngModel)]="textoBusqueda" 
      (input)="actualizarBusqueda()"
      [placeholder]="langService.t().rec_buscar_placeholder">
  </div>

  <div class="filters-container">
    <span class="filter-label">{{ langService.t().rec_filtros_label }}</span>
    <div class="chips-wrapper">
      @for (opt of filtrosDisponibles; track opt.id) {
        <button 
          class="filter-chip" 
          [class.active]="alergenosSeleccionados.includes(opt.id)"
          (click)="toggleAlergeno(opt.id)">
          <span class="icon">{{ opt.icono }}</span>
          {{ getTraduccionFiltro(opt.id, opt.nombre) }}
        </button>
      }
    </div>
  </div>
</div>