<header class="navbar">
  <!-- El logo ahora es un enlace a la raíz -->
  <a routerLink="/" class="logo-link">
    <span class="logo-text">SAFEBITE</span>
  </a>

  <nav class="menu">
    <a routerLink="/recetas" routerLinkActive="active">Recetas</a>
    <a routerLink="/reviews">Reviews</a>
    <a routerLink="/productos">Productos</a>
    <a routerLink="/subir">Subir receta</a>
    <a routerLink="/contacto">Contacto</a>
  </nav>

  <div class="auth-btns">
    <button class="btn-login">Inicia Sesión</button>
    <button class="btn-register">Regístrate</button>
  </div>
</header>